COMPOSE_PROJECT_NAME=letsencrypt-docker-compose
DOMAINS="test1.letsencrypt-docker-compose.com test2.letsencrypt-docker-compose.com"
CERTBOT_EMAILS="info@letsencrypt-docker-compose.com info@letsencrypt-docker-compose.com"
CERTBOT_TEST_CERT=1
CERTBOT_RSA_KEY_SIZE=4096
